

.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
  position: absolute;
    left: 50%;
    top: 35%;
}
.loader:before {
  content:"Loading..."
}
@keyframes l1 {to{opacity: 0}}


